body{
    background-color:tomato;
}

.timer {
    display: flex;

}

.field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.value {
    font-size: 60px;
}